<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="jumbotron cinephilia-dark cinephilia-main-block">
        <div class="cinephilia-welcome"> Hello, <th:block th:text="${currentUser}" />! </div>
        <div class="text-center">
            <img src="https://cdn2.iconfinder.com/data/icons/leisure-entertainment-minimalist-icon-set/100/film-01-512.png" alt="popcorn">
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>